body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
  
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

h2{
  text-align: center;
}
  
.sidebar {
  height: 45%;
  width: 16%;
  background-color: #273849;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 250px;
}
  
.sidebar-title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
  
.menu {
  list-style: none;
  padding: 0;
}
 
.menu-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  transition: background-color 0.3s;
}
  
.menu-item:hover {
  background-color: #1e2c3b;
}
  
.menu-item.active {
  background-color: #1e2c3b;
}
  
.menu-item a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
  
.icon {
  width: 30px;
  height: 30px;
}
  
.sidebar-footer {
  text-align: center;
  font-size: 12px;
}
  
.main {
  flex: 1;
  padding: 20px;
}
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #1e2c3b;
  color: white;
  border-radius: 18px;
  margin-top: 50px;
}
  
.dropdown {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 5px;
}
  
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}
  
.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
  
textarea {
  min-height: 80px;
  max-height: 80px;
  pointer-events: none;
}
  
.form-actions {
  display: flex;
  justify-content: space-between;
}
 
.cancel-btn {
 background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}
  
.submit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

